<tr <%= cycle('', 'class="even"') %>>
  <td><%= item.item.barcode %></td>
  <td><strong><%= item.item.produto.ref %></strong></td>
  <td><%= item.item.cor.nome %></td>
  <td class="center"><%= item.item.tamanho.nome %></td>
  <td class="right"><%= number_to_currency(item.valor) %></td>
  
  <td class="right"><%=link_to image_tag('trash.gif'), compra_item_url(@compra, item), :confirm => 'Tem certeza?', :method => :delete %></td>
</tr>