<div class="form">

	<div class="linha first">
		<div class="t18">
		<%= f.label :nome %>
		<%= f.text_field :nome, :class=>'t18' %>
		<%= error_message_on @fornecedor, 'nome' %>
		</div>
		<div class="t6">
		<%= f.label :cnpj %>
		<%= f.text_field :cnpj, :class=>'t6' %>
		<%= error_message_on @fornecedor, 'cnpj' %>
		</div>
	</div>

	<div class="linha">
		<div class="t8">
		<%= f.label :fone %>
		<%= f.text_field :fone, :class=>'t8' %>
		<%= error_message_on @fornecedor, 'fone' %>
		</div>
		<div class="t8">
		<%= f.label :email %>
		<%= f.text_field :email, :class=>'t8' %>
		<%= error_message_on @fornecedor, 'email' %>
		</div>
		<div class="t8">
		<%= f.label :website %>
		<%= f.text_field :website, :class=>'t8' %>
		<%= error_message_on @fornecedor, 'website' %>
		</div>
	</div>	
	
	<div class="linha">
		<div class="t9">
		<%= f.label :endereco, "Endereço" %>
		<%= f.text_field :endereco, :class=>'t9' %>
		<%= error_message_on @fornecedor, 'endereco' %>
		</div>
		<div class="t5">
		<%= f.label :bairro %>
		<%= f.text_field :bairro, :class=>'t5' %>
		<%= error_message_on @fornecedor, 'bairro' %>
		</div>
		<div class="t3">
		<%= f.label :cep %>
		<%= f.masked_text_field :cep, :class=>'t3', :mask=>"99.999-999" %>
		<%= error_message_on @fornecedor, 'cep' %>
		</div>
		<div class="t5">
		<%= f.label :cidade %>
		<%= f.text_field :cidade, :class=>'t5' %>
		<%= error_message_on @fornecedor, 'cidade' %>
		</div>
		<div class="t2">
		<%= f.label :uf %>
		<%= f.select :uf, Fornecedor::ESTADOS, { :include_blank => true }, :class=>'t2' %>
		<%= error_message_on @fornecedor, 'uf' %>
		</div>
	</div>	

	<div class="linha">
		<div class="t24">
		<%= f.label :obs %>
		<%= f.text_area :obs, :class=>'t24', :rows=>2 %>
		<%= error_message_on @fornecedor, 'obs' %>
		</div>
	</div>

</div>