
<div class="form t16">

  <div class="linha first">
    <div class="t5">
    <%= f.label :colecao_id, "Coleção" %>
    <%= f.select :colecao_id, Colecao.to_select, { :include_blank => true }, :class=>'t5' %>
    <%= error_message_on @produto, :colecao_id %>
    </div>

    <div class="t7">
    <%= f.label :fornecedor_id, "Fornecedor" %>
    <%= f.select :fornecedor_id, Fornecedor.to_select, { :include_blank => true }, :class=>'t7 bold' %>
    <%= error_message_on @produto, 'fornecedor_id' %>
    </div>

    <div class="t4 last">
    <%= f.label :linha_id, "Linha" %>
    <%= f.select :linha_id, Linha.to_select, { :include_blank => true }, :class=>'t4' %>
    <%= error_message_on @produto, 'linha_id' %>
    </div>

  </div>

  <div class="linha">
    <div class="t5">
    <%= f.label :tipo_id, "Tipo" %>
    <%= f.select :tipo_id, Tipo.to_select, { :include_blank => true }, :class=>'t5' %>
    <%= error_message_on @produto, 'tipo_id' %>
    </div>

    <div class="t11 last">
    <%= f.label :ref, "Referência" %>
    <%= f.text_field :ref, :class=>'t10 bold' %>
    <%= error_message_on @produto, 'ref' %>
    </div>

  </div>

  <div class="linha">
    <div class="t5">&nbsp;</div>
    <div class="t3">
    <%= f.label :custo %>
    <%= f.currency_field :custo, :class=>'t3' %>
    <%= error_message_on @produto, 'custo' %>
    </div>

    <div class="t3">
    <%= f.label :valor, "Valor de Venda" %>
    <%= f.currency_field :valor, :class=>'t3' %>
    <%= error_message_on @produto, 'valor' %>
    </div>

    <div class="t5 last">
    <label>Lucro/Rentabilidade</label>
    <p id='lucro'><%= render :partial => 'lucro' %></p>
    </div>

  </div>

</div>

<script language="javascript">
  url = '<%= lucro_produtos_path %>';

  get_lucro = function() {
		$('#lucro').fadeOut(function() {
			$('#lucro').load(url, { custo: $('#produto_custo_to_form').val(), valor: $('#produto_valor_to_form').val() }, function() { $('#lucro').fadeIn() } )
		});

  };

  $('#produto_custo_to_form').change(get_lucro);
  $('#produto_valor_to_form').change(get_lucro);
</script>


<div class="prepend-1 t7">
	<h3>Etiquetas</h3>
	
	<table class="lista small light" width="100%" cellpadding="0" cellspacing="0">
		<tr>
			<th width="140px">Cor</th>
			<th>Tamanho</th>
			<th>&nbsp;</th>
		</tr>
		<%= render :partial => 'etiqueta', :collection => @produto.etiquetas %>
	</table>
</div>
