<% content_for :title do %>
	<h1><strong><%= @title %></strong></h1>
	<%= cool_button('Nova Venda', new_resource_url) %>
<% end %>

<table class="lista" cellpadding="0" cellspacing="0" width="60%">
  <tr>
	<th width='80px'>Data</th>
	<th><%= @th %></th>
	<th width='80px' class='right'>Valor</th>
	<th width='40px'>&nbsp;</th>
	<th width='20px'>&nbsp;</th>
  </tr>
  <%- @vendas.each do |venda|%>
  <tr <%= cycle('', 'class="even"') %>>
    <td><%= l venda.data %></td>
    <td><%= venda.nome %></td>
    <td class='right'><%= number_to_currency(venda.total) %></td>
    
    <td><%=link_to 'Editar', edit_resource_url(venda), :class=>'link' %></td>
    <td><%=link_to 'Itens', venda_itens_url(venda), :class=>'link' %></td>
    <td class='right'><%=link_to image_tag('trash.gif'), resource_url(venda), :confirm => 'Confirma Exclusão?', :method => :delete %></td>
  </tr>
  <% end %>
</table>
<br/>
