<% content_for :title do %>
	<h1><strong>Registros</strong></h1>
	<%= cool_button('Novo Registro', new_resource_url) %>
<% end %>

<div class="t11 prepend-0">
	<%= render :partial => "registros", :locals => { :titulo => "Banco", :conta => Conta::BANCO }  %>
</div>

<div class="t11 prepend-1">
	<%= render :partial => "registros", :locals => { :titulo => "Caixa", :conta => Conta::CAIXA }  %>
</div>

<br style="clear:both"/>
<br/><br/>

<div class="t11 prepend-0">
	<%= render :partial => "registros", :locals => { :titulo => "Contas a Pagar", :conta => Conta::CPAGAR }  %>
</div>

<div class="t11 prepend-1">
	<%= render :partial => "registros", :locals => { :titulo => "Contas a Receber", :conta => Conta::CRECEB }  %>
</div>

<script language="javascript">

function set_dd() {
	$(".drag").draggable({
		revert: 'invalid'
	});
	$(".drop").droppable({
		drop: function(e, ui) {
			url = "/registros/" + ui.draggable.attr('reg-id') + "/transfere?conta_id=" + $(this).attr('data-conta');
			$.post(url)
		}
	});
}

	set_dd();

	$('.edit_reg').colorbox();

</script>
